list comprehension

In [6]:
numbers=[1,2,3,4,5,6]
a_square=[]

for number in numbers:
    a_square.append(number**2)

b_square=[val ** 2 for val in numbers]
a_even=[even for even in numbers if even % 2 == 0]

print(b_square)
print(a_square)
print(a_even)

[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]
[2, 4, 6]

In [9]:
cordinates=[(x,y) for x in range(2,20,2) for y in range(1,20,3)]
print(cordinates )

[(2, 1), (2, 4), (2, 7), (2, 10), (2, 13), (2, 16), (2, 19), (4, 1), (4, 4), (4, 7), (4, 10), (4, 13), (4, 16), (4, 19), (6, 1), (6, 4), (6, 7), (6, 10), (6, 13), (6, 16), (6, 19), (8, 1), (8, 4), (8, 7), (8, 10), (8, 13), (8, 16), (8, 19), (10, 1), (10, 4), (10, 7), (10, 10), (10, 13), (10, 16), (10, 19), (12, 1), (12, 4), (12, 7), (12, 10), (12, 13), (12, 16), (12, 19), (14, 1), (14, 4), (14, 7), (14, 10), (14, 13), (14, 16), (14, 19), (16, 1), (16, 4), (16, 7), (16, 10), (16, 13), (16, 16), (16, 19), (18, 1), (18, 4), (18, 7), (18, 10), (18, 13), (18, 16), (18, 19)]

In [7]:
def add(a,b):
    c=a+b
    print(c)
result=add(3,4)
print(result)

7

In [10]:
def convert_far_to_cel(faranheit):
    celsius = (faranheit - 32) * 5/9
    return celsius
faranheit=float(input("Enter a temperature in degrees F: "))
celsius=convert_far_to_cel(faranheit)
print(f" {faranheit} degrees F= {celsius:.2f} degrees C ")

 67.0 degrees F= 19.44 degrees C

In [11]:
def convert_cel_to_far(celsius):
    faranheit  = celsius * 9/5 + 32
    return faranheit
celsius=float(input("Enter a temperature in degrees C: "))
faranheit=convert_cel_to_far(celsius)
print(f" {celsius} degrees F= {faranheit:.2f} degrees C ")

 56.0 degrees F= 132.80 degrees C

def convert_cel_to_far(celsius):
    faranheit  = celsius * 9/5 + 32
    return faranheit
celsius=float(input("Enter a temperature in degrees C: "))
faranheit=convert_cel_to_far(celsius)
print(f" {celsius} degrees F= {faranheit:.2f} degrees C ")

In [31]:

def invest(amount, rate, years):
    for yil in range(1,years+1):
        result = amount*(1+rate/100) ** yil
        print(f"Year {yil} : $ {result:.2f}")
    return result
amount = float(input(" Investitsiya miqdori: "))
rate = float(input("Foiz stavkasi: "))
years= int(input(" Yillar: "))
invest(amount, rate, years)

Year 1 : $ 105.00
Year 2 : $ 110.25
Year 3 : $ 115.76
Year 4 : $ 121.55

121.55062500000003

In [37]:
def factors(number):
    for i in range(1,number+1):
        if number % i == 0:
            print(f" {i} is factor of {number}")
              
number = int(input("Enter positive integer: "))
factors(number)

 1 is factor of 12
 2 is factor of 12
 3 is factor of 12
 4 is factor of 12
 6 is factor of 12
 12 is factor of 12

In [46]:
import numpy 
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]
def enrollment_stats(uni,students,tuition_fee):
        uni = [list[0] for list in universities]
        students=[list[1] for list in universities]
        tuition_fee=[list[2] for list in universities]
        list1 = summ(students)
        list2 = summ(tuition_fee)
        def mean(l):
                result=l % len(l)
                return result
      
        print(f"Total students: {list1}")
        print(f"Total tuition: {list2}") 
        print(f"Student mean: {result}")
        print(f"Student median: {y}")
enrollment_stats(uni,students,tuition_fee)

ModuleNotFoundError: No module named 'numpy'

In [47]:
import numpy

speed = [99,86,87,88,86,103,87,94,78,77,85,86]

x = numpy.median(speed)

print(x)

ModuleNotFoundError: No module named 'numpy'

In [24]:
import math
def is_prime(n):
    i=2
    
    if n%i==0:
        if n!=i:
          print(False)
        else:
          print(True)
    i+=1
    
n=int(input("natural son kiriting: "))
result=is_prime(n)
print(result)

None